:root {
    font-size: 62.5%;
    --red: rgb(115, 0, 0);
    --blue: rgb(0, 0, 60);
    --white: rgb(255, 255, 255);
    --headerFont: font-family: 'Play', sans-serif;
    --bodyFont: font-family: 'Architects Daughter', cursive;
}
body {
    box-sizing: border-box;
    background-color: var(--blue);
    color: var(--white);
    font-family: var(--bodyFont);
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
#timer {
    display: flex;
    position: absolute;
    font-size: 40px;
    color: var(--white);
    left: 38%;    
    bottom: 100px;
}
header {
    color: var(--white);
    text-align: center;
    font-family: var(--headerFont);
}
h1 {
    font-size: 80px;
    color: var(--red);
    margin-top: 50px;
}
h2 {
    font-size: 40px;
    margin-top: 50px;
}
h3 {
    font-size: 30px;
    color:var(--red);
    margin-top: 50px;
}
.buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
#startButton:hover,
#leaderboardButton:hover {
    border-color: black;
    color: var(--white);
}
#startButton,
#leaderboardButton {
    width: 45%;
    height: 200px;
    font-size: 50px;;
    margin: 50px 10px;
    background-color: var(--red);
    color: var(--blue);
    border: 5px solid var(--white);
    border-radius: 15px;
    cursor: pointer;
    padding: 15px;
    font-weight: bold;
}
#question {
    font-size:50px;

}
.answers {
    font-size: 30px;   
    list-style-type: none;
}
#answerA, #answerB, #answerC, #answerD {
    margin: 25px;
    padding: 10px;
}