:root {
    font-size: 62.5%;
    --red: rgb(255, 0, 0);
    --blue: rgb(0, 0, 60);
    --white: rgb(255, 255, 255);
    --headerFont: 'Play', sans-serif;
    --bodyFont: 'Architects Daughter', cursive;
}
body {
    box-sizing: border-box;
    background-color: var(--blue);
    color: var(--white);
    font-family: var(--bodyFont);
}
#timer {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 24px;
    color: var(--white);
}
header {
    color: var(--white);
    text-align: center;
    font-family: var(--headerFont);
}
h1 {
    font-size: 70px;
    font-weight: bold;
    color: var(--red);
    margin-top: 25px;
}
h2 {
    font-size: 40px;
    margin-top: 25px;
}
h3 {
    font-size: 30px;
    color:var(--red);
    margin-top: 25px;
}
#welcome {
    display: flex;
    flex-direction: column;
    
}
.buttonsMain{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#startButton:hover,
#leaderboardButton:hover {
    border-color: black;
    color: var(--white);
}
#startButton,
#leaderboardButton {
    width: 45%;
    height: 200px;
    font-size: 50px;;
    margin: 50px 10px;
    background-color: var(--red);
    color: var(--blue);
    border: 5px solid var(--white);
    border-radius: 15px;
    cursor: pointer;
    padding: 15px;
    font-weight: bold;
}
#game, #end, #leaderboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#questionEl {
    font-size:40px;
    font-weight: bold;
    color: var(--red);
    margin: 25px;
    text-align: center;
}