:root {
    font-size: 62.5%;
    --red: rgb(115, 0, 0);
    --blue: rgb(0, 0, 60);
    --white: rgb(255, 255, 255);
    --headerFont: 'Play', sans-serif;
    --bodyFont: 'Architects Daughter', cursive;
}
body {
    box-sizing: border-box;
    background-color: var(--blue);
    color: var(--white);
    font-family: var(--bodyFont);
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
#timer {
    position: absolute;
    bottom: 15px;
    left: 38%;
    font-size: 40px;
    color: var(--white);
}
header {
    color: var(--white);
    text-align: center;
    font-family: var(--headerFont);
}
h1 {
    font-size: 70px;
    font-weight: bold;
    color: var(--red);
    margin-top: 25px;
}
h2 {
    font-size: 40px;
    margin-top: 25px;
}
h3 {
    font-size: 30px;
    color:var(--red);
    margin-top: 25px;
}
.buttonsMain{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.buttonsMC {
    display: flex;
    justify-content: center;
    align-items: space-around;
}
#startButton:hover,
#leaderboardButton:hover {
    border-color: black;
    color: var(--white);
}
#startButton,
#leaderboardButton {
    width: 45%;
    height: 200px;
    font-size: 50px;;
    margin: 50px 10px;
    background-color: var(--red);
    color: var(--blue);
    border: 5px solid var(--white);
    border-radius: 15px;
    cursor: pointer;
    padding: 15px;
    font-weight: bold;
}
#questionEl {
    font-size:70px;
    font-weight: bold;
    color: var(--red);
    margin: 25px;
    text-align: center;
}
.answers {
    font-size: 36px;   
    list-style-type: unset;
    color: var(--white);
    list-style-type: none;
    margin-left: 100px;
}
#answerEl1, #answerEl2, #answerEl3, #answerEl4 {
    margin: 50px;
    padding: 10px;
}
#buttonA, #buttonB, #buttonC, #buttonD {
    width: 20%;
    height: 100px;
    font-size: 30px;;
    margin: 50px 10px;
    background-color: var(--red);
    color: var(--blue);
    border: 5px solid var(--white);
    border-radius: 15px;
    cursor: pointer;
    padding: 15px;
    font-weight: bold;
}
#buttonA:hover, #buttonB:hover, #buttonC:hover, #buttonD:hover {
    border-color: black;
    color: var(--white);
}
@media screen and (max-width: 576px) {
    #startButton, #leaderboardButton {
        font-size: 28px;
    } 
    h1, h2, h3, #questionEl{
        font-size: 30px;
    }
    #timer {
        top: 0px;
        font-size: 22px;
        left: 33%;
    }
    .answers {
        margin-left: 0px;
        font-size: 20px;
    }
}